@font-face {
    font-family: 'Recoleta';
    src: url(fonts/Recoleta-Regularcopy.otf) format('otf');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

html {
    background-color: fcf9f5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Recoleta', normal;
    font-style: normal;
    font-weight: regular;
    font-size: 1.2rem;
    hanging-punctuation: first last;
    max-width: 30rem;
}
h1 {
    font-family: 'Recoleta', normal;
    font-style: normal;
    font-weight: regular;
    color: #474746;
    margin: 5px 0px 0px;
    font-size: 1.2rem;
    line-height: 1;
    padding-bottom: 3px;
    hanging-punctuation: first last;
}
h2 {
    font-family: 'Recoleta', normal;
    font-style: normal;
    font-weight: regular;
    color: #474746;
    margin: 0px 0px 50px;
    font-size: 1.2rem;
    hanging-punctuation: first last;
}
h3 {
    font-family: 'Recoleta', normal;
    font-style: normal;
    font-weight: regular;
    color: #474746;
    margin: 10px 0px 10px;
    hanging-punctuation: first last;
}

.halignright {
	float: right;
}
.halignleft {
    float:left;
}
.alignright {
    text-align: right;
}
.fineleading {
    line-height: .6;
}
footer {
    list-style-type: author;
    color:#705c68;
    content: '\2191';
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}
.container {
    width: 100%;
    max-width: 30rem;
    padding: 0 2rem;
    margin: 3rem auto;
    background-image:  radial-gradient(circle at 50% 30%, #eecab7, #d0b79e, #b1a489, #939276, #777f67, #5b6c58, #435a4b, #2c473f, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}