html {
    margin: 5px;
    background-color: #eae4d5;
}
footer {
    text-align: center;
}
div {
    float:left;
}
.janet{
    position: fixed;
    margin-bottom: 3%;
    bottom: 0;
    width: 100%;
    flex: auto;
    text-align: center;
}
.column {
    position:fixed;
    margin-bottom: 3%;
    bottom: 0;
    width: 85%;
    flex:auto;
    text-align: center;
    left: 7%;
    right: 7%;
}
.shelf {
    position:fixed;
    display:block;
    bottom: 0px;;
    width: 60%;
    flex:auto;
    text-align: center;
}
.a{
    position: fixed;
    text-align: center;
    left: 20%;
    right: 17%;
}
