html {
    margin: 2%;
    background-color:antiquewhite
}
h1 {
    text-align: center;
    font-size: 1.5rem;
}
.title {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.jar {
    width: 23%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.textbox {
    margin-top: 2%;
}
input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 3%;
    box-sizing: border-box;
    background-color: antiquewhite;
    border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none
}